
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Pretendard', sans-serif;
    background-color: #ffffff;
}


.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}


.back-button {
    background: none;
    border: none;
    margin-right: 8px;
    cursor: pointer;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: #5DC29E;
    text-align: center;
    margin-bottom: 50px;
}


.edit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 8px;
}

.input-icon {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

/* .input:nth-of-type(2) .input-icon {
    width:25px;
    height: 25px;
} */

.input-label {
    font-size: 15px;
    width: 75px;
    flex-shrink: 0;
}

.form-element {
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 5px;
    padding-left: 14px;
}

.form-element:disabled {
    background-color: #f0f0f0;
    color: #777;
}


.submit-button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 30px;
    background-color: #5DC29E;
    color: white;
    border: none;
    border-radius: 999px;
    font-size: 15px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #5DC29E;
}

.popup-message {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    color: #555;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    max-width: 90%;
    text-align: center;
}

.popup-message.show {
    opacity: 0.8;
    pointer-events: auto;
}