body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 5% 5% 5%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2열 구성 */
    gap: 16px;
    /* 카드 간의 간격 */
    width: 100%;
    padding: 0 10px 20px 10px;
    box-sizing: border-box;
}


.content::-webkit-scrollbar,
.content::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    width: 0px;
}

/* 메뉴 카드 */
.menu-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 16px;
    border-radius: 15px;
    text-decoration: none;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 14px;
    transition: transform 0.2s ease;
    box-sizing: border-box;
}

/* 호버 효과 */
.menu-card:hover {
    transform: translateY(-2px);
}

/* 메뉴 카드 텍스트 */
.menu-card .text-box {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
}

.menu-card .title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #5dc29e;
    margin: 0;
}

.menu-card .desc {
    font-size: 0.9rem;
    color: #555;
    margin-top: 4px;
    word-break: keep-all;
    line-height: 1.4;
}

/* 메뉴 카드 아이콘 */
.menu-card .icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.popup-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    color: #555;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    max-width: 90%;
    text-align: center;
}

.popup-message.show {
    opacity: 0.8;
    pointer-events: auto;
}