html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.main-content {
    display: flex;
    flex-direction: column; 
    height: 100%;
  }
  
/*중앙 정렬*/
  .content { 
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;   
    position: relative; 
  }
  

  .logo {
    position: absolute;
    top: calc(50% - 100px); 
    transform: translateY(-400%); 
    
    color: #5DC29E;
  }
  

  .login-form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    /*gap: 10px;*/
    
  }
  
/*공통*/
.form-element {
    width: 100%;
    max-width: 360px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 30px;
    border: 2px solid #5DC29E;
    box-sizing: border-box;
    outline: none;
  }
  
  
  .input input {
    background-color: #ffffff;
  }
  

  .submit-button {
    background-color: #5DC29E;
    color: #ffffff;
    border: none; 
    cursor: pointer;
  }
  
  .signup-link {
    font-size: 15px;
    text-decoration: none;
  }

  /*아이콘*/
  .input {
  position: relative;
  margin-bottom: 1rem;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.input input {
  padding-left: 35px; 
}
