.content {
  padding: 2.5rem 2rem;
}

.category-label {
  margin-bottom: 1rem;
  color: #333333;
  padding-left: 0.2rem;
}

.scenario-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.scenario-item {
  background: #5DC29E;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: 0.2s;
  position: relative;
}

.scenario-item:hover {
  transform: translateY(-2px);
}

.scenario-item.locked {
  opacity: 0.4;
  pointer-events: none;
}
.scenario-item.locked::before {
  content: '🔒';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000ba;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 20px;
}

.scenario-header{
  display: flex;
  justify-content: space-between;
}

.scenario-title {
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
}

.scenario-desc {
  font-size: 15px;  
  color: #FFFFFF;
  margin-top: 0.3rem;
}

.star {
  color: #FDE451;
  font-size: 1.1rem;
}

.simul-wrapper{
  text-align: center;
}

.simul-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3rem 0;
}

.simul-card {
  background-color: #f8f8f8;
  border-radius: 16px;
  padding: 2rem 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-top: 5px solid #5DC29E;
  max-width: 500px;
  min-height: 450px;
  margin: 0 auto;
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 요소 간 간격 */
}

.simul-card h3 {
  font-size: 17px;
  color: #333;
}

.simul-card p {
  font-size: 15px;
  color: #444;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 380px;
}

.start-btn {
  background-color: #5DC29E;
  border: none;
  padding: 0.6rem 1.8rem;
  border-radius: 20px;
  font-size: 0.95rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  
}

.start-btn:hover {
  background-color: #53b38e;
}