* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
}

html {
  overflow-y: scroll;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: auto;
  padding-top: 49.99px;
  padding-bottom: 43.99px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 40px);
}

header {
  background-color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 20;
}

.back-button {
  position: absolute;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.back-button:hover {
  color: #8f8f8f;
}

.back-button svg {
  width: 24px;
  height: 24px;
}

#navbar {
  width: 100%;
  max-width: 600px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  margin: 0 auto;
  width: 100%;
}

.bottom-nav a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.bottom-nav a:hover {
  color: #007bff;
}

.bottom-nav svg {
  width: 24px;
  height: 24px;
}

.bottom-nav a:hover svg {
  fill: #007bff;
}

@media only screen and (max-width: 767px) {
  .main-content {
    height: auto;
  }
}
