/*vocabulary_category 스타일링*/
.category-label {
    margin-bottom: 1.5rem;
    color: #333333;
    padding-left: 0.2rem;
}

.label-box {
    padding-left: 1.5em;
    margin-top: 30px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(2, 0.7fr); 
    gap: 12px; 
    padding: 15px;
    margin: 15px;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 10px;
    background-color: rgba(93, 194, 158, 0.5); /* 투명도 추가 */
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-item:hover {
    background-color: rgba(93, 194, 158, 0.9); /* 더 밝고 진한 배경색 */
}

.category-icon {
    width: 30px;
    height: 30px;
}

.category-item p {
    margin: 6px 0;
    font-size: 0.9em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}


/*vocabulary_list 스타일링*/
#category-title {
    margin-top: 60px;
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 30px;
}

.word-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.word-item {
    position: relative; /* 자식 요소의 절대 위치를 기준으로 함 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
}
.word-info {
    display: flex;
    flex-direction: column;
}

.day-label {
    font-weight: bold;
    font-size: 1em;
}

.daily-topic {
    font-size: 15px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 30px;
}

/* 프로그래스바 */
.progress-container {
    position: fixed; 
    top: 50px;      
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    height: 7px;
    background-color: #e0e0e0;
    border-radius: 2px;
    margin: 0;
    z-index: 15;
}

/* 프로그래스바 진행 부분 */
.progress-bar {
    width: 20%; 
    height: 100%;
    background-color: #5DC29E;
    border-radius: 2px;
    transition: width 0.3s ease;
}

/* 단어 카드 */
.word-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px 10px;
    margin: 50px 30px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

.word-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 40px 0 0 0;
    text-align: center;
}

/* 북마크 버튼 스타일 */
.bookmark {
    position: absolute;
    top: 45px;
    right: 35px;
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.2s ease;
}

.bookmark:hover {
    transform: scale(1.1);
}

/* 단어 설명 */
.word-desc {
    margin: 15px 0;
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

/* 예시 문장 */
.example-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 380px;
    max-width: 80%;
    padding: 30px 20px;
    margin: 60px auto 100px auto;
    border: 2px solid #5DC29E;
    border-radius: 12px;
    position: relative;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .example-box {
        width: 100%;
        padding: 20px 0;
    }
}

/* 예시 태그 */
.example-tag {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #5DC29E;
    color: #fff;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 0.7em;
}

.example-text {
    font-size: 15px;
    color: #333;
    margin: 10px 20px;
    line-height: 1.5;
}

/* 버튼 그룹 스타일 */
.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

/* 이전, 다음 버튼 공통 스타일 */
#card-next-button, #card-prev-button {
    padding: 12px 25px;
    background-color: #5DC29E;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#card-prev-button:hover, #card-next-button:hover {
    background-color: #326c58;
}

/* 이전 버튼 비활성화 상태 */
#card-prev-button:disabled {
    background-color: #B0E0D2;
    cursor: not-allowed;
}

/* 퀴즈 모달 스타일 */
.quiz-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.quiz-content {
    background-color: white;
    padding: 30px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
}

.quiz-content h3 {
    font-size: 1.2em;
    margin: 20px 0;
    color: #333;
    text-align: center;
    font-weight: 600;
}

.dino-word-bubbling {
    width: 230px;
    height: auto;
    margin: 20px;
}

.quiz-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.quiz-confirm, .quiz-cancel {
    padding: 12px 20px;
    margin: 5px;
    background-color: #5DC29E;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-confirm:hover {
    background-color: #48a086;
}

.quiz-cancel {
    background-color: #999;
}

.quiz-cancel:hover {
    background-color: #777;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.dino-word-bubbling {
    width: 230px;
    height: auto;
    margin: 30px;
    margin-bottom: 10px;
}

/* vocabulary_quiz 스타일링 */
.quiz-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px 30px;
    margin: 50px 30px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

.quiz-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 40px 0 0 0;
    text-align: center; 
}

.quiz-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    padding: 30px 20px;
    margin: 50px auto 20px auto;
    border: 2px solid #5DC29E;
    border-radius: 12px;
    position: relative;
    text-align: center;
}

.quiz-tag {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #5DC29E;
    color: #fff;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 0.7em;
}

.quiz-option {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    text-align: left;
    font-size: 0.8em;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.quiz-option.correct {
  background-color: #5DC29E;
  color: white;
  border: none;
}

.quiz-option.incorrect {
  background-color: #FF6B6B;
  color: white;
  border: none;
}

.quiz-option:hover {
    background-color: #e0e0e0;
}

.quiz-option.selected {
    background-color: #5DC29E;
    color: #fff;
    border: 1px solid #5DC29E;
}

/* 선지 표시 */
.correct {
    background-color: #5DC29E !important; 
    color: white !important;
}

.incorrect {
    background-color: #FF4C4C !important; 
    color: white !important;
}

.selected {
    border: 2px solid #5DC29E;
}

#quiz-next-button {
    padding: 8px 40px;
    background-color: #5DC29E;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#quiz-next-button:hover {
    background-color: #326c58;
}

#quiz-next-button:disabled,
button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.quiz-message {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.quiz-message.correct {
    color: #5DC29E;
}

.quiz-message.incorrect {
    color: #FF4C4C;
}

/* 모달 스타일 */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 900;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 80%;
    background-color: #EFEFEF; 
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    text-align: center;
    z-index: 1000;
}

.modal-content p {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.modal-button {
    background-color: #5DC29E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}

.modal-button:hover {
    background-color: #326c58;
}
/* 퀴즈 결과 차트 스타일 */
.chart-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.chart-score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: #5DC29E;
}

/* 퀴즈 종료 버튼 스타일 */
#finish-button {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 10px 50px;
    background-color: #5DC29E;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#finish-button:hover {
    background-color: #326c58;
}

/* 공룡과 피드백 스타일 */
.dino-feedback-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.dino-image {
    width: 60px;
    height: auto;
}

.speech-bubble {
    background-color: #5DC29E;
    color: white;
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 1em;
    text-align: center;
    margin-left: 10px;
}
